<div class="container">
  <%= form_tag do %>
    <fieldset>
      <legend>Please Log In</legend>
      <div>
	<%= label_tag :name, 'Name:' %>
	<%= text_field_tag :name, params[:name] %>
      </div>
      <div>
	<%= label_tag :password, 'Password:' %>
	<%= password_field_tag :password, params[:password] %>
      </div>
      <div>
	<%= submit_tag "Login", :class => "btn" %>
      </div>
    </fieldset>
  <% end %>
</div>
<% if notice %>
    <script>
        var message = <%= ("'" + notice.to_s + "'").html_safe %>
        Materialize.toast(message, 3000);
    </script>
<% end %>

