<h1>Document Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @document.each do |document| %>
    <li>
      <h3>
        <%= link_to document.title, controller: "documents", action: "show", id: document._id%>
      </h3>
    </li>
  <% end %>
</ul>