<head>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

<script>
$(document).ready(function() {
$('.datepicker').pickadate({   
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 1000, // Creates a dropdown of 10 years to control year
	    min: [1850,1,1],
	    max: true,
            format: 'dd-mm-yyyy',
            closeOnSelect: true,
            closeOnClear: true
        });
    $('select').material_select();
  });
</script>
  <link rel="stylesheet" type="text/css" href="/css/trix.css">
  <script type="text/javascript" src="/js/trix.js"></script>

</head>

<%= form_for(document) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :year, 'Year Published' %>
    <%= f.text_area :year %>
  </div>

  <div class="field">
    <%= f.label :institution, 'Organization' %>
    <%= f.text_field :institution %>
  </div>

  <div class="field">
    <%= f.label :contributor%>
    <%= f.text_field :contributor %>
  </div>

  <div class="field">
    <%= f.label :code_versions %>
    <%= f.text_field :code_versions %>
  </div>

  <div>
    <%= f.label :date_publish, 'Date Published' %>
    <%= f.text_field :date_publish, :class=> "datepicker"%>
  </div>

  <div>
    <%= f.label :ecc_date,'ECC Date' %>
    <%= f.text_field :ecc_date, :class=> "datepicker"%>
  </div>

  <div class="field">
    <%= f.label :author_site,'Organization URL' %>
    <%= f.text_field :author_site %>
  </div>

  <div class="field">
    <%= f.label :orig_url, 'Origional URL' %>
    <%= f.text_field :orig_url %>
  </div>

  <div class="field">
    <%= f.label :description, 'Full Text' %>
    <%= f.trix_editor :description %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :doi, 'DOI' %>
    <%= f.text_field :doi %>
  </div>

  <div class="field">
    <%= f.label :copyright,'Copyright' %>
    <%= f.text_area :copyright %>
  </div>

  <div class="field">
    <%= f.label :topics %>
    <%= f.text_area :topics %>
  </div>

  <div class="field">
    <%= f.label :fields %>
    <%= f.text_area :fields %>
  </div>

  <div class="field">
    <%= f.label :backup_url, 'Backup URL' %>
    <%= f.text_field :backup_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
