<%= form_for(document) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.text_area :year %>
  </div>

  <div class="field">
    <%= f.label :institution %>
    <%= f.text_field :institution %>
  </div>

  <div class="field">
    <%= f.label :contributor %>
    <%= f.text_field :contributor %>
  </div>

  <div class="field">
    <%= f.label :code_versions %>
    <%= f.text_field :code_versions %>
  </div>

  <div class="field">
    <%= f.label :date_publish %>
    <%= f.date_select :date_publish %>
  </div>

  <div class="field">
    <%= f.label :ecc_date %>
    <%= f.date_select :ecc_date %>
  </div>

  <div class="field">
    <%= f.label :author_site %>
    <%= f.text_field :author_site %>
  </div>

  <div class="field">
    <%= f.label :orig_url %>
    <%= f.text_field :orig_url %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%#<%= f.text_area :description%> <%#Replacing with TRIX%>
    <input id="description" type="hidden" name="description">
    <trix-editor input="description"></trix-editor>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :doi %>
    <%= f.text_field :doi %>
  </div>

  <div class="field">
    <%= f.label :copyright %>
    <%= f.text_area :copyright %>
  </div>

  <div class="field">
    <%= f.label :topics %>
    <%= f.text_area :topics %>
  </div>

  <div class="field">
    <%= f.label :fields %>
    <%= f.text_area :fields %>
  </div>

  <div class="field">
    <%= f.label :backup_url %>
    <%= f.text_field :backup_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
