<p id="notice"><%= notice %></p>

<h1>Documents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Institution</th>
      <th>Contributor</th>
      <th>Code versions</th>
      <th>Date publish</th>
      <th>Ecc date</th>
      <th>Author site</th>
      <th>Orig url</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Doi</th>
      <th>Copyright</th>
      <th>Topics</th>
      <th>Fields</th>
      <th>Backup url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= document.year %></td>
        <td><%= document.institution %></td>
        <td><%= document.contributor %></td>
        <td><%= document.code_versions %></td>
        <td><%= document.date_publish %></td>
        <td><%= document.ecc_date %></td>
        <td><%= document.author_site %></td>
        <td><%= document.orig_url %></td>
        <td><%= document.description %></td>
        <td><%= document.notes %></td>
        <td><%= document.doi %></td>
        <td><%= document.copyright %></td>
        <td><%= document.topics %></td>
        <td><%= document.fields %></td>
        <td><%= document.backup_url %></td>
        <td><%= link_to 'show_document', document %></td>
        <td><%= link_to 'Edit', edit_document_path(:org => document.institution, :id => document.id) %></td>
        <td><%= link_to 'Destroy', delete_document_path(:org => document.institution, :id => document.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path %>
