<p id="notice"><%= notice %></p>

<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title"><%= @document.title %></span>
            <div>
                <p><%= @document.institution + ', ' + @document.date_publish.to_s %></p>
            </div>
            <div>
                <p><%= @document.contributor %></p>
            </div>
            <div>
                <p>Code Versions</p>
                <p><%= @document.code_versions %></p>
            </div>
            <div>
                <p>Date Posted</p>
                <p><%= @document.ecc_date %></p>
            </div>
            <div>
                <p>Author Website</p>
                <span><%= @document.author_site %><a href="<%= @document.orig_url %>"><%= @document.orig_url %></a></%></span>
            </div>
            <div>
                <%= @document.description.html_safe %>
            </div>
            <div>
                <p>Notes</p>
                <p><%= @document.notes %></p>
            </div>
            <div>
                <p>DOI</p>
                <p><%= @document.doi %></p>
            </div>
            <div>
                <p>Copyright</p>
                <p><%= @document.copyright %></p>
            </div>
            <div>
                <p>Topics</p>
                <% for @document.topics.split(',').each do |t| %>
                    <%= '<div class="chips">' %>
                        <%= t %>
                    <%= '</div>' %>
                <% end %>
            </div>
            <div>
                <p>Fields</p>
                <p><%= @document.fields %></p>
            </div>
        </div>
        <div class="card-action">
            <% if session[:user_id] %>
                    <%= link_to 'Back', documents_path, :class => "btn"%>
                    <%= link_to 'Edit', edit_document_path(@document), :class => "btn"%>
                <% else %>
                    <%= link_to 'Back', browse_documents_path %>
                <% end %>
        </div>
    </div>
</div>
