<p id="notice"><%= notice %></p>
<% if session[:user_id] %>
	  <%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
	  <% else %>
<%= link_to 'Back', brouse_documents_path %>
	  <% end %>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @document.year %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @document.institution %>
</p>

<p>
  <strong>Contributor:</strong>
  <%= @document.contributor %>
</p>

<p>
  <strong>Code versions:</strong>
  <%= @document.code_versions %>
</p>

<p>
  <strong>Date publish:</strong>
  <%= @document.date_publish %>
</p>

<p>
  <strong>Ecc date:</strong>
  <%= @document.ecc_date %>
</p>

<p>
  <strong>Author site:</strong>
  <%= @document.author_site %>
</p>

<p>
  <strong>Orig url:</strong>
  <%= @document.orig_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description.html_safe %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @document.notes %>
</p>

<p>
  <strong>Doi:</strong>
  <%= @document.doi %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @document.copyright %>
</p>

<p>
  <strong>Topics:</strong>
  <%= @document.topics %>
</p>

<p>
  <strong>Fields:</strong>
  <%= @document.fields %>
</p>

<p>
  <strong>Backup url:</strong>
  <%= @document.backup_url %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
